.wc-calc__title {
  font-size: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.quiz {
  position: relative;
  padding: 3% 3%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.quiz * {
  box-sizing: border-box;
}
.quiz__subtitle {
  color: #999;
  font-size: 14px;
  margin-bottom: 15px;
}
.quiz__title {
  font-size: 28px;
  font-weight: 400;
  color: #505050;
  margin: 0;
  margin-bottom: 15px;
}
.quiz__steps {
  overflow: hidden;
  margin: -20px;
  padding: 20px;
}
.quiz__wrap {
  display: flex;
  align-items: flex-start;
  transition: 0.2s;
}
.quiz__step {
  flex-shrink: 0;
  width: 100%;
  margin-right: 30px;
  height: auto;
}
.quiz__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.quiz .quiz__submit, .quiz .quiz__next, .quiz .quiz__prev {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 125px;
  height: 50px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.quiz__prev {
  background: #fff;
  box-shadow: 1.7px 5.8px 21px 0 rgba(0, 0, 0, 0.08);
  color: #777;
  fill: #777;
}
.quiz__prev svg {
  margin-right: 15px;
}
.quiz__prev:hover {
  color: #000;
  fill: #000;
}
.quiz__next, .quiz__submit {
  background: #ff1037;
  color: #fff;
  fill: #fff;
}
.quiz__next svg, .quiz__submit svg {
  margin-left: 15px;
}
.quiz__next:hover, .quiz__submit:hover {
  background: #fe2f51;
}
.quiz__total {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.quiz__total.active {
  opacity: 1;
  pointer-events: all;
}
.quiz__input {
  width: 100%;
  border: 1px solid #a0a9b2;
  height: 40px;
  padding: 0px 15px;
  font-size: 16px;
  outline: none;
}
.quiz__submit {
  width: 200px !important;
}

.qtotal__img {
  margin-bottom: 20px;
}
.qtotal__title {
  font-size: 32px;
  text-align: center;
  color: #505050;
  margin: 0;
  margin-bottom: 30px;
}
.qtotal__price {
  color: #ff1037;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.qtotal__fields {
  max-width: 300px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 30px;
}
.qtotal__field {
  width: 100%;
}

.qprogress {
  margin-bottom: 30px;
}
.qprogress__name {
  font-size: 13px;
  color: #777;
}
.qprogress__name b {
  color: #ff1037;
  font-weight: 700;
  font-size: 14px;
}
.qprogress progress {
  width: 100%;
  border-radius: 25px;
  height: 10px;
}
.qprogress progress::-webkit-progress-bar {
  background: #dbdbdb;
  border-radius: 25px;
  height: 10px;
  border: 1px solid transparent;
}
.qprogress progress::-webkit-progress-value {
  border-radius: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ff1037 linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 75%, transparent 0, transparent);
  background-size: 50px 50px;
}

.qstep__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
@media (max-width: 991.98px) {
  .qstep__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767.98px) {
  .qstep__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
.qstep__grid_2 {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767.98px) {
  .qstep__grid_2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.qstep__ranges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
@media (max-width: 767.98px) {
  .qstep__ranges {
    grid-template-columns: 1fr;
  }
}
.qstep__title {
  font-size: 16px;
  color: #505050;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
}
.qstep__radios {
  display: grid;
  grid-gap: 15px;
}
.qstep__checks {
  display: grid;
  grid-gap: 15px;
}

.qitem__input {
  display: none;
}
.qitem__input:checked + .qitem__fake {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.qitem__input:checked + .qitem__fake .qitem__name:before, .qitem__input:checked + .qitem__fake .qitem__name:after {
  opacity: 1;
}
.qitem__fake {
  display: block;
  padding-bottom: 20px;
  transition: opacity 0.3s;
  opacity: 0.5;
  cursor: pointer;
}
.qitem__img {
  display: block;
  margin-bottom: 10px;
}
.qitem__img img {
  display: block;
  width: 100%;
}
.qitem__name {
  display: block;
  margin: 0 10px;
  padding-left: 30px;
  font-size: 14px;
  position: relative;
}
.qitem__name:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.qitem__name:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff1037;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}

.qrange {
  font-family: Arial;
}
.qrange__title {
  color: #505050;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.qrange__title b {
  color: #ff1037;
  font-weight: 700;
  font-size: 20px;
}
.qrange__range {
  width: 100%;
}

.qradio {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.qradio__input {
  display: none;
}
.qradio__input:checked + .qradio__fake {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.qradio__input:checked + .qradio__fake .qradio__name:before, .qradio__input:checked + .qradio__fake .qradio__name:after {
  opacity: 1;
}
.qradio__fake {
  padding: 10px;
  display: block;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 0.5;
  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
}
.qradio__name {
  display: block;
  color: #505050;
  font-size: 16px;
  padding-left: 30px;
  position: relative;
}
.qradio__name:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #8a8a8a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.qradio__name:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff1037;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}

.qcheck {
  display: block;
  cursor: pointer;
}
.qcheck__input {
  display: none;
}
.qcheck__input:checked + .qcheck__fake .qcheck__check:before {
  opacity: 1;
}
.qcheck__fake {
  display: flex;
  align-items: center;
}
.qcheck__check {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}
.qcheck__check:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(imgs/check.svg) 0 0/cover no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
}
.qcheck__name {
  color: #505050;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

input[type=range] {
  width: 100%;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #dce0e5;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: 2px solid #ff1037;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]::-moz-range-track {
  background: #dce0e5;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 2px solid #ff1037;
  background: white;
  cursor: pointer;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}